<div class="ekart-product-item">
    <!-- <img [src]="product.pImage">
<p>Name:{{product.name}}</p>
<p>Price: {{'$ '+ product.price}}</p>
<p>Color: {{product.color}}</p>
<p>Discounted Price: {{'$ '+ getDiscountPrice()}}</p>
<P>{{getStockStatus()}}</P>
<button (click)="IncrementCartVal()">+</button>
<span>{{AddToCart}}</span>
<button (click)="DecrementCartVal()">-</button> -->
<!-- <input (input)="OnnameChange($event)"> -->
<!-- Disabled, Hiddesn, Checked -->

<search (searchTextChanged)="setSearchText($event)"></search>
<product-list [searchText]="searchText"></product-list>

</div>