<div class="ekart--bottom--bar">
      <div class="ekart-menu">
        <a *ngFor="let menu of mainMenuItems" href="">{{menu}}</a>
        <!-- <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
        <a href="#">Contact</a> -->
      </div>
      <!-- <div class="ekart--search--bar">
        <input type="text" class="ekart-search-box" placeholder="Search" />
        <button class="eakrt--search--btn">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>